<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hfoa.dao.common.BNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.hfoa.entity.common.BNotice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="linkUrl" property="linkurl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imgUrl, linkUrl,content
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from b_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hfoa.entity.common.BNotice" >
    insert into b_notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
<!--       <if test="id != null" > -->
<!--         id, -->
<!--       </if> -->
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="linkurl != null" >
        linkUrl,
      </if>
       <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
<!--       <if test="id != null" > -->
<!--         #{id,jdbcType=INTEGER}, -->
<!--       </if> -->
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        #{linkurl,jdbcType=VARCHAR},
      </if>
       <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.hfoa.entity.common.BNotice" >
    update b_notice
    <set >
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        linkUrl = #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>