<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfoa.dao.entertain.EntertainAnnualBudgetMapper">
  <!-- <resultMap id="BaseResultMap" type="com.hfoa.entity.entertain.Entertainapplyinfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="Leave_ID" jdbcType="VARCHAR" property="leave_id" />
    <result column="BegingTime" jdbcType="VARCHAR" property="begingTime" />
    <result column="EndTime" jdbcType="VARCHAR" property="endTime" />
    <result column="Days" jdbcType="VARCHAR" property="days" />
    <result column="State" jdbcType="VARCHAR" property="state"/>
    <result column="SFYC" jdbcType="VARCHAR" property="sfyc"/>
  </resultMap> -->
  
  <select id="getEntity" resultType="com.hfoa.entity.entertain.Entertainannualbudget">
  	select * from B_EntertainAnnualBudget where Department=#{0} and Year=#{1}
  </select>
  
  <select id="year" resultType="java.lang.String">
  	select DISTINCT YEAR FROM b_entertainannualbudget WHERE `Year`<![CDATA[ <= ]]> #{0}
  
  </select>
  
  <select id="wGetAnnualBudget" resultType="com.hfoa.entity.entertain.Entertainannualbudget">
  	select * from B_EntertainAnnualBudget where Year=#{0} order by `Order` desc
  </select>
  
  <select id="getTimeById" resultType="java.lang.String">
  	select Time from B_EntertainAnnualBudget where `Order`=#{0} and `Year`=#{1}
  </select>
  
  <update id="updateAnnualBudget"  parameterType="com.hfoa.entity.entertain.Entertainannualbudget">
  	update B_EntertainAnnualBudget
  	<trim prefix="set" suffixOverrides=",">
  		<if test="department!=null">
  			Department = #{department,jdbcType=VARCHAR},
  		</if>
  		<if test="budgetSum0!=null">
  			BudgetSum0 = #{budgetSum0,jdbcType=VARCHAR},
  		</if>
  		<if test="copileTime0!=null">
  			CopileTime0 = #{copileTime0,jdbcType=VARCHAR},
  		</if>
  		<if test="budgetSum1!=null">
  			BudgetSum1 = #{budgetSum1,jdbcType=VARCHAR},
  		</if>
  		<if test="copileTime1!=null">
  			CopileTime1 = #{copileTime1,jdbcType=VARCHAR},
  		</if>
  		<if test="budgetSum2!=null">
  			BudgetSum2 = #{budgetSum2,jdbcType=VARCHAR},
  		</if>
  		<if test="copileTime2!=null">
  			CopileTime2 = #{copileTime2,jdbcType=VARCHAR},
  		</if>
  		<if test="budgetSum3!=null">
  			BudgetSum3 = #{budgetSum3,jdbcType=VARCHAR},
  		</if>
  		<if test="compileTime3!=null">
  			CopileTime3 = #{compileTime3,jdbcType=VARCHAR},
  		</if>
  		<if test="budgetSum4!=null">
  			BudgetSum4 = #{budgetSum4,jdbcType=VARCHAR},
  		</if>
  		<if test="compileTime4!=null">
  			CopileTime4 = #{compileTime4,jdbcType=VARCHAR},
  		</if>
  		<if test="budgetSum5 != null">
  			BudgetSum5 = #{budgetSum5,jdbcType=VARCHAR},
  		</if>
  		<if test="compileTime5!=null">
  			CopileTime5 = #{compileTime5,jdbcType=VARCHAR},
  		</if>
  		<if test="time!=null">
  			Time = #{time,jdbcType=VARCHAR},
  		</if>
  		<if test="year!=null">
  			`Year` = #{year,jdbcType=VARCHAR},
  		</if>
  	</trim>
  	where `Order` =#{order,jdbcType=VARCHAR} and `Year` = #{year,jdbcType=VARCHAR}
  </update>
  
  

</mapper>